<!-- footer part start-->
<footer class="footer-area" id="contact">
    <div class="container">
        <div class="row" style="text-align:center;">

            <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
                <div class="single-footer-widget footer_2">
                    <h4>Me contacter</h4>
                    <div class="contact_info">
                        <p><span><b> Adresse :</b></span> 17700 St Mard France</p>
                        <p><span><b> Téléphone :</b></span> 06.52.45.36.58</p>
                        <p><span><b> Email : </b></span> theokdo@gmail.com</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="copyright_part_text">
            <div class="row" style="text-align:center;">
                <div class="col-lg-12">
                    <p class="footer-text m-0">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved | This template is made with <i class="ti-heart"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</footer>
<!-- footer part end-->

<!-- jquery plugins here-->
<!-- jquery -->
<script src="/front/js/jquery-1.12.1.min.js"></script>
<!-- popper js -->
<script src="/front/js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="/front/js/bootstrap.min.js"></script>
<!-- easing js -->
<script src="/front/js/jquery.magnific-popup.js"></script>
<!-- swiper js -->
<script src="/front/js/swiper.min.js"></script>
<!-- swiper js -->
<script src="/front/js/masonry.pkgd.js"></script>
<!-- particles js -->
<script src="/front/js/owl.carousel.min.js"></script>
<!-- swiper js -->
<script src="/front/js/slick.min.js"></script>
<script src="/front/js/gijgo.min.js"></script>
<script src="/front/js/jquery.nice-select.min.js"></script>
<!-- custom js -->
<script src="/front/js/custom.js"></script>
</body>

</html>