<div class="intro_video_iner text-center">
	<h2>
		{{h2_0}}
	</h2>
	<div class="intro_video_icon">
		<a id="play-video_1" class="video-play-button popup-youtube" href="{{lienhref_0}}">
			<span class="ti-control-play"></span>
		</a>
	</div>
</div>
